.Portfolio {
    width: 100%;
    background: #fff;
    overflow: hidden;

    .Container {
        @extend %container;
        padding-left: 28px;
        padding-right: 28px;
        h2 { margin: 0 0 50px; text-align: center; color: $text-gray }

    }
}

.Projects {
    width: 100%;
}

@media screen and (min-width: 415px) {
    .Projects {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: $cont-max-width / 3;
    }
}

@media screen and (min-width: 770px) {
    .Projects {
        width: $cont-max-width - $cont-max-width/3;
    }
}

@media screen and (min-width: 1120px) {
    .Projects {
        width: $cont-max-width;
    }

    .Container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}