.Title {
    width: 100%;
    padding: 0 24px;
    font-family: 'Oxygen Mono', monospace;
    // 'Yanone Kaffeesatz', sans-serif;
    color:#6d7eb5;
    font-size:1.5rem;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);

    p {
        padding: 8px 0;
    }
}