.Dots {
    position: absolute;
    perspective: 300px;

    div {
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #fff;
        float: left;
        opacity: 0;
        box-shadow: 0 0 3px 1px rgba(#fff, .5);
        transform: scaleX(0);
        transform: scaleY(0);

    }

    $left: 0;
    @for $i from 1 to 8 {
        div:nth-child(#{$i}) {
            left: #{$left}px;
        }
        $left: $left + 35;
    }

}