.GreetingContainer { 
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
}

.Greeting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 24px 0;
    overflow: hidden;
    color: $main-blue;

    background-image: linear-gradient($main-blue, $main-blue), 
    linear-gradient($main-blue, $main-blue);
    background-size: 0px 3px, 0px 3px;
    background-repeat: no-repeat;
    background-position: top, bottom;
}