.MenuBar {
    width: 100%;
    height: 46px;
    position: fixed;
    left: 0;
    top: -46px;
    visibility: hidden;
    background: #fff;
    opacity: 0.9;
    transform: translateZ(0);
    transition: top 0.9s;
    box-shadow: 0 2px 6px rgba(black, 0.3);

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        right: 40px;
        width: 300px;
        height: 46px;
        
        li {
            display: block;
            float: left;
            cursor: pointer;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background: $main-red;
                visibility: hidden;
                transform: scale(0,0);
                bottom: 0;
                left: 0;
                transition: all 0.2s;
            }

            &:hover:after {
                visibility: visible;
                transform: scale(1,1);
            }

           
        }
    }
}

@media screen and (min-width: 700px) {
    .MenuBar {
        animation: menuIn 1s forwards;
        animation-delay: 1s;
    }
}

@keyframes menuIn {
    from { top: -46px; visibility: hidden }
    to { top: 0px; visibility: visible }
}
